@charset "UTF-8";
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes gelatine {
  from, to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: sclae(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  min-width: 320px;
  font-family: roboto;
}
body .loader__page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  cursor: none;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  animation: 0.5s loading 2000ms forwards;
}
body .loader__page .loader {
  border: 10px solid #f6f6f6;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #9356dc;
  border-right: 10px solid #ff79da;
  border-left: 10px solid #ff79da;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
body .hide_loader {
  animation: fadeOut 4s forwards;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.header__logo {
  height: 63px;
  width: 100%;
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  color: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0;
}
.main .form__location {
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.main .form__location--container {
  display: flex;
  align-items: center;
}
.main .form__location--icon {
  color: #353535;
  padding: 17px;
}
.main .form__location--style {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.main .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  background: #f6f6f6;
  margin-top: -30px;
  width: 100%;
  box-sizing: border-box;
}
.main .title h1 {
  font-size: 24px;
  font-weight: 700;
}
.main .title p {
  font-size: 18px;
  font-weight: 300;
}
.main .title .button__animated {
  background: linear-gradient(#9356dc, #ff79da);
  color: #ffffff;
  border: none;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  height: 50px;
  font-weight: 500;
  border-radius: 25px;
  width: auto;
  display: flex;
  align-items: center;
  transition: background 300ms ease-out, box-shadow 300ms ease-out, opacity 300ms ease-out;
}
.main .title .button__animated:hover {
  background: linear-gradient(#ff79da, #9356dc);
  opacity: 0.85;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}
.main .operating {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #ffffff;
  margin: 0;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.main .operating h2 {
  font-size: 24px;
  font-weight: 700;
}
.main .operating .button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 72px;
  width: calc(100% - 40px);
  margin: 10px 20px;
  padding: 20px;
  background: #f6f6f6;
  box-shadow: 2px 3px 20px #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  letter-spacing: 0;
}
.main .operating .button:hover {
  letter-spacing: 2px;
  color: #9356dc;
}
.main .operating .button_list__number {
  position: absolute;
  left: -15px;
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}
.main .operating .button_list__number:hover {
  animation: gelatine 0.5s infinite;
}
.main .operating .button__icon {
  margin: 0 20px 0 20px;
  color: #353535;
}
.main .operating .button__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.2rem;
  font-weight: 300;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
}

.choose {
  display: none;
}
.choose:checked + label .choose__like .button__icon--yes {
  display: inline-block;
  color: #9356dc;
}
.choose:not(:checked) + label .choose__like .button__icon--no {
  display: inline-block;
  color: #353535;
}

.choose + label {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
}
.choose + label .choose__like {
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.choose + label .choose__like .button__icon--no,
.choose + label .choose__like .button__icon--yes {
  display: none;
}
.choose + label .choose__like .button__icon--no:hover,
.choose + label .choose__like .button__icon--yes:hover {
  color: #9356dc;
}

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  padding: 20px;
  background-color: #f6f6f6;
}
.restaurants h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}
.restaurants .card__img {
  width: 100%;
  height: auto;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.restaurants .card__content .card__txt {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #101010;
}
.restaurants .card__content .card__txt .card__title {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}
.restaurants .card__content .card__txt .card__subtitle {
  font-size: 17px;
  font-weight: 200;
  margin: 0;
}

.like {
  display: none;
}
.like:checked + label .restaurants__like .restaurants__like--bg {
  display: inline-block;
  background: linear-gradient(45deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s;
}
.like:checked + label .restaurants__like .restaurants__like--nobg {
  display: none;
}
.like:not(:checked) + label .restaurants__like .restaurants__like--nobg {
  display: inline-block;
  color: #101010;
  font-weight: 200;
}
.like:not(:checked) + label .restaurants__like .restaurants__like--bg {
  display: none;
}

.like + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.like + label .restaurants__like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.newtag {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #99e2d0;
  color: #008766;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px;
}
.footer__title {
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.footer .footer__link--icon {
  margin-right: 7px;
  font-size: 13px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 767.98px) {
  .title h1 {
    font-size: 32px;
  }
  .operating {
    flex-direction: row;
  }
}
/*desktop */
@media (min-width: 1024px) {
  body {
    display: flex;
  }
  body main .title h1 {
    font-size: 40px;
  }
}
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  max-width: 1440px;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
}

.headerrest {
  display: flex;
  gap: 40px;
  height: 63px;
  background-color: #ffffff;
  padding: 17px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.headerrest__arrow {
  font-size: 30px;
  margin: 0;
  color: #353535;
  position: absolute;
  left: 30px;
  top: 30px;
}
.headerrest__arrow--back {
  border: none;
  text-decoration: none;
}
.headerrest__logo {
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
  color: #101010;
  font-size: 30px;
  text-align: center;
}
.headerrest h1 {
  margin: 0;
}

.mainrest {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 40px;
}
.mainrest .banner__img {
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.mainrest .restaurant {
  margin-top: -80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 40px;
  background-color: #ffffff;
  /*z-index: 1;
  position: relative;*/
}
.mainrest .restaurant__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainrest .restaurant__title {
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin: 0;
  color: #101010;
}

#like {
  display: none;
}
#like + label .restaurant__like--nobg {
  color: #101010;
  transition: color 0.3s;
}
#like + label .restaurant__like--bg {
  display: none;
}
#like:checked + label .restaurant__like--nobg {
  display: none;
}
#like:checked + label .restaurant__like--bg {
  display: inline-block;
  background: linear-gradient(45deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s;
}
#like__like {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu__list {
  display: grid;
  gap: 12px;
}
.menu__list h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}
.menu__list h3:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  top: 24px;
}
.menu__list h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.cardrest__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cardrest__container .cardrest {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.cardrest__container .cardrest:hover, input[type=checkbox]:checked + label .cardrest__container .cardrest {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.cardrest__container .cardrest__content {
  display: inline-flex;
  gap: 5px;
  justify-content: space-between;
  width: 100%;
}
.cardrest__container .cardrest__txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cardrest__container .cardrest__title {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.cardrest__container .cardrest__subtitle {
  font-weight: 300;
  font-size: 15px;
}
.cardrest__container .cardrest__price {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 15px;
  color: #353535;
  transition: transform 0.25s ease-out;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.cardrest__container .cardrest p {
  margin: 0;
}

.confirmation__cardrest {
  display: none;
}

.menu__confirmation {
  position: absolute;
  right: -59px;
  top: 50%;
  transform: translateY(-50%);
  width: 59px;
  height: 100%;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.25s ease-out;
}
.menu__confirmation .menu__wrapicon {
  border-radius: 50%;
  padding: 5px;
  background-color: #ffffff;
}
.menu__confirmation .menu__icon {
  color: #99e2d0;
  font-size: 1.5rem;
  transition: 0.25s ease-in-out;
}
.menu__confirmation .menu__confirmation label {
  width: 100%;
}

input[type=checkbox]:checked + label .menu__confirmation,
.cardrest:hover .menu__confirmation {
  right: 0;
}

input[type=checkbox]:not(:checked) + label .menu__confirmation {
  transition: right 0.25s ease-out;
}

input[type=checkbox]:checked + label .cardrest__price,
.cardrest:hover .cardrest__price {
  transform: translateX(-59px);
}

input[type=checkbox]:not(:checked) + label .cardrest__price {
  transition: transform 0.25s ease-out;
}

.button__animated {
  width: 40%;
  background: linear-gradient(#9356dc, #ff79da);
  color: #ffffff;
  border: none;
  padding: 20px;
  font-size: 16px;
  height: 50px;
  font-weight: 500;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 20px;
  transition: background 300ms ease-out, box-shadow 300ms ease-out, opacity 300ms ease-out;
}
.button__animated:hover {
  background: linear-gradient(#ff79da, #9356dc);
  opacity: 0.85;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px;
}
.footer__title {
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listelt {
  margin-bottom: 7px;
}
.footer__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.footer__link--icon {
  margin-right: 7px;
  font-size: 13px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .mobile-only {
    display: flex;
  }
}
/* Medium devices (tablets, less/equal than 1024px) */
/*desktop */
@media (min-width: 1025px) {
  .large-screen-only {
    display: block;
  }
}