$font-family-1: "Roboto", sans-serif;
$main-color: #9356dc;
$gradient-main-color: #ff79da;
$second-color: #003a68;
$filter-second-color: #89c8fa;
$thirth-color: #008766;
$filter-thirth-color: #99e2d0;
$fourth-color: #eaeaea;
$bg-color-section: #f6f6f6;
$bg-color-footer: #353535;
$bg-color-section2: #ffffff;
$color-fonction-icone: #7e7e7e;
$color-title: #101010;

@mixin font-family-2 {
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
}

@mixin background-clip {
  -webkit-background-clip: text;
  background-clip: text;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  font-family: $font-family-1;
  width: 100%;

  .headerrest {
    display: flex;
    gap: 40px;
    height: 63px;
    background-color: $bg-color-section2;
    padding: 17px;
    justify-content: center;
    align-items: center;
    position: relative;

    &__arrow {
      font-size: 30px;
      margin: 0;
      color: $bg-color-footer;
      position: absolute;
      left: 30px;
      top: 30px;
    }

    &__arrow--back {
      border: none;
      text-decoration: none;
    }

    &__logo {
      @include font-family-2;
      color: $color-title;
      font-size: 30px;
      text-align: center;
    }

    h1 {
      margin: 0;
    }
  }

  .mainrest {
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 40px;

    .banner__img {
      height: 18rem;
      object-fit: cover;
      width: 100%;
    }

    .restaurant {
      margin-top: -80px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      border-radius: 40px;
      background-color: $bg-color-section2;

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .restaurant__title {
          @include font-family-2;
          font-size: 28px;
          text-align: center;
          margin: 0;
          color: $color-title;
        }

        #like {
          display: none;

          & + label .restaurant__like--nobg {
            color: $color-title;
            transition: color 0.3s;
          }

          & + label .restaurant__like--bg {
            display: none;
          }

          &:checked + label .restaurant__like--nobg {
            display: none;
          }

          &:checked + label .restaurant__like--bg {
            display: inline-block;
            background: linear-gradient(
              45deg,
              $main-color,
              $gradient-main-color
            );
            @include background-clip;
            -webkit-text-fill-color: transparent;
            transition: color 0.3s;
          }

          &__like {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__list {
          display: grid;
          gap: 20px;

          h3 {
            font-family: $font-family-1;
            font-weight: 300;
            font-size: 16px;
            text-transform: uppercase;
            position: relative;

            &:after {
              content: "";
              width: 40px;
              height: 3px;
              background-color: $filter-thirth-color;
              position: absolute;
              left: 0;
              top: 24px;
            }
          }

          .cardrest__container {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .cardrest {
              position: relative;
              padding: 15px;
              border-radius: 15px;
              transition: transform 0.3s ease;
              box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
              background-color: $bg-color-section2;
              overflow: hidden;
              transition: background-color 0.3s, box-shadow 0.3s;

              &__label {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 1;
              }

              &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .cardrest__txt {
                  display: block;
                  flex: 1;

                  .cardrest__title {
                    font-weight: 500;
                    font-size: 18px;
                    margin: 0;
                    font-family: $font-family-1;
                    text-decoration: none;

                    h4 {
                      font-family: $font-family-1;
                      font-weight: 300;
                      font-size: 18px;
                      margin: 0;
                    }
                  }

                  .cardrest__subtitle {
                    font-weight: 300;
                    font-size: 15px;
                    margin: 0;
                  }
                }
              }

              &__price {
                position: absolute;
                display: flex;
                align-items: flex-end;
                font-weight: 700;
                font-size: 15px;
                color: $bg-color-footer;
                right: 15px;
                bottom: 15px;
                transition: transform 0.25s ease-out;
              }

              .menu__confirmation {
                position: absolute;
                right: -59px;
                top: 50%;
                transform: translateY(-50%);
                width: 59px;
                height: 100%;
                background-color: $filter-thirth-color;
                border-radius: 0 15px 15px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: right 0.25s ease-out;

                .menu__wrapicon {
                  border-radius: 50%;
                  padding: 5px;
                  background-color: $bg-color-section2;

                  .menu__icon {
                    color: $filter-thirth-color;
                    font-size: 1.5rem;
                    transition: 0.25s ease-in-out;
                  }
                }
              }
              &:hover .menu__confirmation {
                right: 0;
              }

              &:hover .cardrest__price {
                transform: translateX(-59px);
              }

              input[type="checkbox"] {
                display: none;
              }

              input[type="checkbox"]:checked
                ~ .cardrest__content
                .cardrest__price {
                transform: translateX(-59px);
              }

              input[type="checkbox"]:checked ~ .menu__confirmation {
                right: 0;
              }
            }

            input.confirmation__cardrest + label {
              display: block;
              width: 100%;
            }
          }
        }
      }

      .button__animated {
        width: 40%;
        background: linear-gradient($main-color, $gradient-main-color);
        color: $bg-color-section2;
        border: none;
        padding: 20px;
        font-size: 16px;
        height: 50px;
        font-weight: 500;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-bottom: 20px;
        transition: background 300ms ease-out, box-shadow 300ms ease-out,
          opacity 300ms ease-out;

        &:hover {
          background: linear-gradient($gradient-main-color, $main-color);
          opacity: 0.85;
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: $bg-color-footer;
    color: $bg-color-section2;
    padding: 22px 25px;

    &__title {
      @include font__family-2;
      font-size: 18px;
      margin-bottom: 5px;
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;

      &elt {
        margin: 0;
        padding: 0;

        &--width1 {
          width: 190px;
          height: 20px;
        }

        &--width2 {
          width: 130px;
          height: 19px;
        }
      }
    }

    .footer__link {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      gap: 7px;

      &--icon {
        font-size: 13px;
        margin-right: 7px; // Ajouter un espace à droite des icônes
        line-height: 1;
      }
    }
  }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .mobile-only {
    display: flex;
  }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {
  body {
    .mainrest {
      .restaurant {
        &__header {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 40px;
        }
      }
    }
  }
}

/*desktop */
@media (min-width: 1025px) {
  body {
    display: flex;
    justify-content: center;

    .mainrest {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .banner__img {
        width: 1400px;
      }

      .restaurant {
        display: flex;
        justify-content: center;
        width: 1055px;
        background-color: $bg-color-section;
        box-sizing: border-box;
        align-self: center;

        &__header {
          justify-content: center;
          gap: 40px;
        }

        .menu {
          padding: 30px 140px;
        }

        .button__animated {
          padding: 20px 60px;
          width: auto;
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: row-reverse;
      align-items: end;
      gap: 16px;
      background-color: $bg-color-footer;
      color: $bg-color-section2;
      padding: 22px 25px;
      height: 114px;

      &__title {
        padding: 0 30px;
        height: 27px;
      }

      &__list {
        display: flex;
        flex-wrap: nowrap;
        gap: 7px;
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
