$main-color: #9356dc;
$gradient-main-color: #ff79da;
$second-color: #003a68;
$filter-second-color: #89c8fa;
$thirth-color: #008766;
$filter-thirth-color: #99e2d0;
$fourth-color: #eaeaea;
$bg-color-section: #f6f6f6;
$bg-color-footer: #353535;
$bg-color-section2: #ffffff;
$color-fonction-icone: #7e7e7e;
