body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  gap: 40px;
  height: 63px;
  background-color: #ffffff;
  padding: 17px;
}
.header__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0;
  color: #353535;
}
.header__arrow--back {
  display: inline-flex;
  border: none;
  text-decoration: none;
}
.header__logo {
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
  color: #101010;
  font-size: 30px;
  text-align: center;
}

main {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 40px;
}

.banner__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.restaurant {
  margin-top: -50px;
  padding: 20px;
  border-radius: 40px;
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}
.restaurant__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__title {
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin: 0;
  color: #101010;
}

#like {
  display: none;
}
#like + label .restaurant__like--nobg {
  color: #101010;
  transition: color 0.3s;
}
#like + label .restaurant__like--bg {
  display: none;
}
#like:checked + label .restaurant__like--nobg {
  display: none;
}
#like:checked + label .restaurant__like--bg {
  display: inline-block;
  background: linear-gradient(45deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s;
}
#like__like {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.menu {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 40px;
}*/
.menu__list {
  display: grid;
  gap: 12px;
}

.menu__list h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}

.menu__list h3:after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  top: 24px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.card__content {
  display: inline-flex;
  gap: 5px;
  justify-content: space-between;
}

.cart__txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card__title {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.card p {
  margin: 0;
}

.card__subtitle {
  font-weight: 300;
  font-size: 15px;
}

.card__price {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  font-size: 15px;
  color: #353535;
}

.menu__confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #ffffff;
  margin: -16px -80px -16px 16px;
  /*font-size: 20px;*/
  /* border-radius: 0 15px 15px 0;
  padding: 22.5px 20px;*/
  /* transform: translateX(69px);*/
  transition: 0.25s ease-in-out;
}

/*.menu__wrapicon{

}*/
.menu__icon {
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.button__animated {
  background-color: linear-gradient(90deg, #9356dc 0%, #ff79da 100%);
  color: #ffffff;
  border: none;
  padding: 20px;
  font-size: 16px;
  height: 50px;
  font-weight: 500;
  border-radius: 25px;
  transition: background 300ms ease-out, box-shadow 300ms ease-out;
  display: flex;
  align-items: center;
}
.button__animated:hover {
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 100%);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  color: #ffffff;
  padding: 22px 25px;
}
.footer__title {
  font-family: shrikhand;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listelt {
  margin-bottom: 7px;
}
.footer__link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
.footer__link--icon {
  margin-right: 7px;
  font-size: 13px;
}/*# sourceMappingURL=restaurant.css.map */